@font-face {
  font-family: 'Harbour-Bold';
  src: url('fonts/Harbour-Bold.eot');
  src: url('fonts/Harbour-Bold.woff2') format('woff2'),
       url('fonts/Harbour-Bold.woff') format('woff'),
       url('fonts/Harbour-Bold.ttf') format('truetype'),
       url('fonts/Harbour-Bold.svg#Harbour-Bold') format('svg'),
       url('fonts/Harbour-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'GTCinetypeMono';
  src: url('fonts/GTCinetypeMono.eot');
  src: url('fonts/GTCinetypeMono.woff2') format('woff2'),
       url('fonts/GTCinetypeMono.woff') format('woff'),
       url('fonts/GTCinetypeMono.ttf') format('truetype'),
       url('fonts/GTCinetypeMono.svg#GTCinetypeMono') format('svg'),
       url('fonts/GTCinetypeMono.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
