.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  line-height: 60px;
  padding: 0 $spacing-unit*2;
  font-size: 30px;
  font-family: $serif-font;
  color: $dark-color;

  .logo {
    display: inline-block;
    margin: 0;
  }

  .about-trigger {
    display: inline-block;
    float: right;
    cursor: pointer;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: white;
  border: none;

  tr {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: white;
    border: none;
    vertical-align: top;
  }

  td {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: white;
    border: none;
  }
}

.home {
  position: relative;
  z-index: 50;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.4s 0.4s, z-index 0s 0.4s;

  &.hidden {
    opacity: 0;
    z-index: 0;
    pointer-events: none;
    transition: opacity 0.4s 0s, z-index 0s 0s;
  }

  @include media-query(670px) {
    width: 100vw;
    height: 100vh;
  }
}

.about-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  //overflow-y: scroll;
  padding: $spacing-unit*6 $spacing-unit*2 $spacing-unit*2;
  opacity: 0;
  transition: opacity 0.4s 0s, z-index 0s 0s;
  pointer-events: none;
  @include flexbox;
  justify-content: flex-start;

  @include media-query(670px) {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
  }

  &.visible {
    z-index: 50;
    opacity: 1;
    transition: opacity 0.4s 0.4s, z-index 0s 0.4s;
    pointer-events: all;
  }
}

.about-text {
  width: 50%;
  height: auto;
  padding: 0 150px 0 0;

  @include media-query(670px) {
    width: 100%;
    padding: 0;
    margin: 0 0 $spacing-unit;
  }
}

.playlist {
  width: 50%;
  height: auto;

  @include media-query(670px) {
    width: 100%;
  }

  a, a:visited {
    display: block;
    margin: 0;
    font-size: 18px;
    font-family: $sans-font;
    color: $dark-color;
    text-decoration: underline;
    opacity: 1;

    &:hover {
      opacity: 0.7;
    }
  }
}

.entry-container {
  width: 100vw;
  height: 100vh;
  padding: 60px $spacing-unit*2 0;
  @include flexbox;
  justify-content: flex-end;
  position: relative;
  //align-items: center;

  // @include media-query(670px){
  //   width: 100%;
  //   height: auto;
  // }
}

.entry-description {
  display: none;
  position: fixed;
  z-index: 5;
  left: $spacing-unit*2;
  opacity: 0;
  padding: 0 0 $spacing-unit*2;
  transition: opacity 1s;
  width: auto;
  max-width: 350px;

  &.visible {
    opacity: 1;
  }

  &.in-view {
    display: block;
  }

  @include media-query(670px){
    display: block;
    z-index: 15;
    color: $light-color;
    position: absolute;
    width: 100%;
    top: 60px;
    right: 0;
    left: 0;
  }
}

.entry-image {
  display: block;
  position: absolute;
  z-index: 10;
  top: $spacing-unit*6;
  right: $spacing-unit*2;
  bottom: $spacing-unit*2;
  left: 370px;
  //margin-top: -60px;
  //left: calc(100vw - 370px);

  @include media-query(670px){
    position: absolute;
    width: 100%;
    top: 60px;
    right: 0;
    left: 0;
    bottom: 0;
  }

  img {
    float: right;
    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;

    @include media-query(670px) {
      width: 100%;
      height: auto;
      float: none;
    }
  }
}
